{
  "root_namespace": "something",
  "dotnet_version": "9.0",
  "service_name": "something",
  "image_name": "something",
  "container_name": "something",
  "port": 80,
  "enable_healthcheck": true,
  "project_location": "/etc/www",
  "project_directory": "something"
}


{
  "project_type": "angular",
  "node_version": "20.10.0",
  "service_name": "ansible-docker-generator",
  "image_name": "ansible-docker-generator",
  "container_name": "ansible-docker-generator",
  "port": 81,
  "project_location": "/etc/www",
  "project_directory": "ansible-docker-generator"
}